{% extends 'base.html' %}
{% block title %}
Товары
{% endblock %}

{% block content %}

    <div class="card" style="width: 18rem;">
        {% for one_news in all_goods %}
        <img src={{one_news.img}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{one_news.title}}</h5>
          <p class="card-text">{{one_news.text}}</p>
          <a href={% url 'goods_detail' pk=one_news.pk %} class="btn btn-primary">Читать полностью</a>
        </div>

        {% endfor %}
    </div>

{% endblock %}
